In [3]:
# import stuff and show market futures
import numpy as np
from yahoo_fin.stock_info import get_data

In [6]:
# use reddit API to get hot penny stocks list

In [7]:
# get stock data for the ticker using yahoo_fin (fundamental analysis)
get_data("AAPL")

,open,high,low,close,adjclose,volume,ticker
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100922,469033600.0,AAPL
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095657,175884800.0,AAPL
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088636,105728000.0,AAPL
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090830,86441600.0,AAPL
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093463,73449600.0,AAPL
...,...,...,...,...,...,...,...
2021-03-04,121.750000,123.599998,118.620003,120.129997,120.129997,177275300.0,AAPL
2021-03-05,120.980003,121.940002,117.570000,121.419998,121.419998,153590400.0,AAPL
2021-03-08,120.930000,121.000000,116.209999,116.360001,116.360001,153918600.0,AAPL
2021-03-09,119.029999,122.059998,118.790001,121.089996,121.089996,129159600.0,AAPL
2021-03-10,121.690002,122.169998,119.449997,119.980003,119.980003,111760400.0,AAPL

In [ ]:
# do technical analysis